body{
    font-family: 'Inter', sans-serif;
    color: white;
    background-image: url("image.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h2{
   color: #4ADF86;
}
.line{
    color:black;
}
.generate {
    background-color: #947ac5;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

.generate:hover {
    background-color: #10B981;
}
.pass p{
    padding: 4px;
    font-size:12px;
    background-color: #273549;
    color: #55F991;
    min-width: 70px;
    min-height: 14px;
}
.pass p:empty{
    display:none
}

.pass{
    margin-top:5px;
    display: flex;
    gap:10px;
}

#length{
    display: block;
    width:100px;
}

label{
    margin-top: 10px;
    display: block;
}
.input{
    color: black;
}
